{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": ["./src"],
          "@/components": ["./src/components"],
          "@/lib": ["./src/lib"],
          "@/utils": ["./src/utils"],
          "@/types": ["./src/types"],
          "@/config": ["./src/config"],
          "@/hooks": ["./src/hooks"],
          "@/middleware": ["./src/middleware"]
        }
      }
    ]
  ]
} 